[Unit]
Description=Power Profile Configuration
After=power-profiles-daemon.service

[Service]
Type=simple
ExecStart=/usr/lib/power-profiles-cfg force
Restart=on-failure
StateDirectory=power-profiles-cfg

[Install]
WantedBy=multi-user.target